<section>
    <h2>Categories</h2>
    <ul>
      <li><a href="/categories/Politics">Politics</a></li>
      <li><a href="/categories/Sports">Sports</a></li>
      <li><a href="/categories/Technology">Technology</a></li>
    </ul>
  </section>
  